SURVEY_HOST=127.0.0.1
SURVEY_PORT=8000
PORT=8000
SURVEY_DB_PATH=/mnt/sqlite/survey_data.db
SURVEY_PROJECT_ROOT=.
SURVEY_BASE_URL=http://127.0.0.1:8000
SURVEY_PUBLIC_BASE_URL=http://127.0.0.1:8000
SURVEY_API_BASE_URL=
SURVEY_ALLOW_ORIGIN=
SURVEY_ADMIN_USER=admin
SURVEY_ADMIN_PASSWORD=admin123456
